= render_filter_text_field(:login, :text, t("form.labels.login"))
= render_filter_text_field(:email, :text, t("form.labels.email"))
= render_filter_collection_field(:system_user_role_id, @fields[:system_user_role_id])