.sub_block
  .label
    = t("modules.#{@object[:name]}.all_records")
    - if !@object[:paths][:new_path].nil?
      = link_to t("labels.buttons.create"), @object[:paths][:new_path], class: "btn blue_btn"

  - if @items.count != 0
    = render_table(@fields, @items)
    = will_paginate @items
  - else
    .message
      = t("custom.labels.non_records")