.small_blocks
  .small_block
    .value
      = SystemMainItemsD::SystemUser.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id).count
    .description
      | Количество пользователей в системе
    .btns
      = link_to "Создать пользователя", "/system_users/new", class: "btn blue_btn"
      = link_to "Посмотреть всех пользователей", "/system_users" , class: "btn grey_btn"

  .small_block
    .value
      = KeyWord.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id).count
    .description
      | Количество ключевых слов
    .btns
      = link_to "Создать ключевое слово", "/key_words/new", class: "btn blue_btn"
      = link_to "Посмотреть все ключевые слова", "/key_words" , class: "btn grey_btn"

  .small_block
    .value
      = KeyWordGroup.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id).count
    .description
      | Количество групп ключевых слов
    .btns
      = link_to "Создать группу", "/key_word_groups", class: "btn blue_btn"
      = link_to "Посмотреть все группы", "/key_word_groups" , class: "btn grey_btn"


.sub_block
  .label
    | Последние задачи
    a class="btn blue_btn" href="/tasks"
      | Посмотреть все
  table.table
    thead
      tr
        th
          a href="#"
            | Название
        th
          a href="#"
            | Проект
        th
          a href="#"
            | Этап
        th
    tbody
      - Task.all.limit(10).each do |task|
        tr
          td
            = task.name
          td
            = task.project.name
          td
            = task.task_stage.name
          td
            a class="btn blue_btn" href="/tasks/#{task.id}/edit"
              | Редактировать
