.middle_blocks

  = render "admin/index/templates/news"
  = render "admin/index/templates/instructions"

.sub_block
  .label
    | Последние задачи
    a class="btn blue_btn" href="/tasks"
      | Посмотреть все
  - tasks = Task.where(:key_manager_id => current_system_user.id, :task_stage_id => TaskStage.find_by(:alias => "key_manager_work_stage").id)
  - if tasks.count != 0
    table.table
      thead
        tr
          th
            a href="#"
              | Название
          th
            a href="#"
              | Проект
          th
            a href="#"
              | Этап
          th
      tbody
        - tasks.limit(10).each do |task|
          tr
            td
              = task.name
            td
              = task.project.name
            td
              = task.task_stage.name
            td
              a class="btn blue_btn" href="/tasks/#{task.id}/edit"
                | Редактировать
  - else
    .message
      | Нет записей
