.middle_blocks

  = render "admin/index/templates/news"
  = render "admin/index/templates/instructions"

.sub_block
  .label
    | Последние задачи
    a class="btn blue_btn" href="/tasks"
      | Посмотреть все
  - subtasks = Subtask.get_subtasks_by_link_manager(current_system_user)
  - if subtasks.count != 0
    table.table
      thead
        tr
          th
            a href="#"
              | Название
          th
            a href="#"
              | Проект
          th
      tbody
        - subtasks.limit(10).each do |subtask|
          tr
            td
              = subtask.name
            td
              = subtask.task.project.name
            td
              a class="btn blue_btn" href="/subtasks/#{subtask.id}/edit"
                | Редактировать
  - else
    .message
      | Нет записей
