.sub_block#auction
  .label
    | Аукцион
  table.table
    thead
      tr
        th
          a href="#"
            | Проект
        th
          a href="#"
            | Название
        th
          a href="#"
            | Объем текста
        th
          a href="#"
            | Цена
        th
    tbody
      - @subtasks.each do |subtask|
        tr.subtask data-subtask-id="#{subtask.id}"
          td
            | Test
          td
            = subtask.name
          td
            | Необходимо организовать вывод
          td
            | Необходимо организовать вывод
          td
            .btn.blue_btn.get_subtask
              | Выбрать
  - if @subtasks.count == 0
    .message
      | В данный момент на аукционе нет задач