= form_for @item do |f|

  = f.submit t('labels.buttons.save'), class: "btn blue_btn top_save"
  = render_form(f, @fields).html_safe

  .section_label
    | Покупные ссылки

  #add_purchase_links
    .section
      .field.text_field
        .container
          .small_label_2
            | Название *
          = text_field_tag "choose_link_name"
          .error.custom_error
        .container
          .small_label_2
            | Ссылка *
          = text_field_tag "choose_link_link"
          .error.custom_error

      .field.text_field
        .small_label_2
          | Стоимость *
        = text_field_tag "choose_link_price"
        .error.custom_error

      .field.text_field.custom_textarea
        .small_label_2
          | Комментарий *
        = text_area_tag "choose_link_comment"
        .error.custom_error


      .btn.blue_btn#add_purchase_link_to_article
        | Создать покупную ссылку

  #purchase_links
    table.table
      thead
        tr
          th
            a href="#"
              | Название
          th
            a href="#"
              | Ссылка
          th
            a href="#"
              | Стоимость
          th
            a href="#"
              | Комментарий
          th
      tbody
        - purchase_links = @item.purchase_links
        - purchase_links.each do |link|
          tr.purchase_link
            td
              input#purchase_link_id type="hidden" name="purchase_links[#{link.id}][id]" value="#{link.id}"
              = link.name
            td
              input#purchase_link_link type="hidden" name="purchase_links[#{link.id}][link]" value="#{link.link}"
              = link.link
            td
              input#purchase_link_price type="hidden" name="purchase_links[#{link.id}][price]" value="#{link.price}"
              = link.price
            td
              input#purchase_link_comment type="hidden" name="purchase_links[#{link.id}][comment]" value="#{link.comment}"
              = link.comment
            td
              .btn.red_btn.remove_purchase_link
                | Убрать

    - if purchase_links.count == 0
      .message
        | Покупные ссылки не добавлены