.section_label
  | Ключевые слова
#subtask_key_words.section_with_table
  table.table
    thead
      tr
        th
          a href="#"
            | Название
        th
          a href="#"
            | Количество вхождений
        th
          a href="#"
            | Состояние
    tbody
      - @item.key_word_group.key_words.each do |key_word|
        tr.key_word
          td
            = key_word.name
          td
            = key_word.entry_count
          td
            = key_word.key_word_state.name