- new_fields = {}
- @object[:fields].each do |field|
  - if field[1][:available_link_manager] == true
    - new_fields = new_fields.merge(Hash[*field])

= render_form(f, new_fields).html_safe

.section_label
  | Покупные ссылки
.section.add_key_word_group.field.collection_field
  = select_tag 'choose_purchase_links', options_for_select(PurchaseLink.where({ :subtask_id => nil, :link_manager_id => current_system_user.id }).collect{ |u| [u.name, u.id] }), include_blank: "---"
  .btn.blue_btn#add_subtask_articles
    | Добавить в список

#subtask_purchase__links_ids
  table.table
    thead
      tr
        /th
        /  a href="#"
        /    | Статьи
        th
          a href="#"
            | Покупные ссылки
        th
    tbody
      - @item.purchase_links.each do |pLink|
        tr.purchase_links
          td
            input.purchase_link_id type="hidden" name="purchase_link[subtask_id][#{pLink.id}]" value="#{pLink.id}"
            = link_to pLink.name, pLink
          td
            .btn.red_btn.remove_link
              | Убрать из списка

  - if @item.articles.count == 0
    .message
      | Нет записей
  - else
    .message style="display: none;"
      | Нет записей