.section_label
  | Покупные ссылки
.section.add_article.field.collection_field
  = select_tag 'choose_articles', options_for_select(Article.where(:subtask_id => nil).collect{ |u| [u.name, u.id] })
  .btn.blue_btn#add_subtask_articles
    | Добавить в список

#subtask_articles_ids
  table.table
    thead
      tr
        th
          a href="#"
            | Статья
        th
          a href="#"
            | Покупные ссылки
        th
    tbody
      - @item.articles.each do |article|
        tr.article
          td
            input.article_id type="hidden" name="subtask[subtask_articles_ids][#{article.id}]" value="#{article.id}"
            = link_to article.name, article
          td.purchase_links
            ul.table_list
              - article.purchase_links.each do |link|
                li
                  = link_to link.name, link
          td
            .btn.red_btn.remove_link
              | Убрать из списка

  - if @item.articles.count == 0
    .message
      | Нет записей
  - else
    .message style="display: none;"
      | Нет записей