= hidden_field_tag "task_id", @item.id
= form_for @item do |f|

  = f.submit t('labels.buttons.save'), class: "btn blue_btn top_save"

  ul.card_menu
    li.btn.blue_btn
      | Настройка задачи
    li.btn.grey_btn
      | Ключевые слова
    li.btn.grey_btn
      | Подзадачи
    - if @no_available_comments != true
      li.btn.grey_btn
        | Комментарии

  ul.card_cnt
    li.cnt.active
      = render "/admin/tasks/templates/settings", f: f
    li.cnt
      = render "/admin/tasks/templates/keywords"
    li.cnt
      = render "/admin/tasks/templates/content_subtasks", subtasks: @item.subtasks
    - if @no_available_comments != true
      li.cnt
        = render "/admin/tasks/templates/comments", items: @item.comments