= render_filter_text_field(:name, :text, t("form.labels.name"))
= render_filter_collection_field(:project_id, @fields[:project_id])
- if (current_system_user.system_user_role.alias == "administrator")
  = render_filter_collection_field(:task_stage_id, @fields[:task_stage_id])