- if (current_system_user.system_user_role.alias == "administrator") || (current_system_user.system_user_role.alias == "root")
  = render "admin/tasks/administrator"
- if current_system_user.system_user_role.alias == "key_manager"
  = render "admin/tasks/key_manager"