= hidden_field_tag "task_id", @item.id

.key_manager_task
  = form_for @item do |f|

    = f.submit t('labels.buttons.save'), class: "btn blue_btn top_save"

    ul.card_menu
      li.btn.blue_btn
        | Основная информация
      li.btn.grey_btn
        | Комментарии

    ul.card_cnt
      li.cnt.active
        = render "/admin/tasks/templates/key_manager_settings", f: f
      li.cnt
        = render "/admin/tasks/templates/comments", items: @item.comments


