- @items.each do |item|
  tr
    - @visible_fields.each do |field|
      td
        = render_table_item(field, item)
    td
      = link_to t('labels.buttons.edit'), "#{@object[:paths][:edit_path]}/#{item.id}/edit", class: "btn blue_btn"
      - if (current_system_user.system_user_role.alias == "administrator") || (current_system_user.system_user_role.alias == "root")
        = link_to t('labels.buttons.delete'), item, method: :delete, class: "btn red_btn", data: {confirm: "#{t('messages.delete_item_attention')}"}