.sub_block
  .label
    = t("modules.#{@object[:name]}.all_records")
    - if !@object[:paths][:new_path].nil?
      - if (current_system_user.system_user_role.alias == "administrator") || (current_system_user.system_user_role.alias == "root")
        = link_to t("labels.buttons.create"), @object[:paths][:new_path], class: "btn blue_btn"
  = render_filter(@path, nil)
  - if (current_system_user.system_user_role.alias == "key_manager")
    - @items = @items.where(:key_manager_id => current_system_user.id, :task_stage_id => TaskStage.find_by(:alias => "key_manager_work_stage").id)
  - if @items.count != 0
    = render_table(@fields, @items)
    = will_paginate @items
  - else
    .message
      = t("custom.labels.non_records")