= render_filter_text_field(:name, :text, t("form.labels.name"))
= render_filter_text_field(:url, :text, t("form.labels.url"))
= render_filter_collection_field(:project_category_id, @fields[:project_category_id])