= render_filter_text_field(:name, :text, t("form.labels.name"))
= render_filter_collection_field(:key_word_group_id, @fields[:key_word_group_id])
= render_filter_collection_field(:content_manager_id, @fields[:content_manager_id])