= hidden_field_tag "subtask_id", @item.id

- if current_system_user.system_user_role.alias == "administrator"
  = render "admin/subtasks/administrator"
- if current_system_user.system_user_role.alias == "content_manager"
  = render "admin/subtasks/content_manager"
- if current_system_user.system_user_role.alias == "link_manager"
  = render "admin/subtasks/link_manager"