= form_for @item do |f|

  = f.submit t('labels.buttons.save'), class: "btn blue_btn top_save"

  ul.card_menu
    li.btn.blue_btn
      | Покупные ссылки
    li.btn.grey_btn
      | Контент
    li.btn.grey_btn
      | Ключевые слова
    li.btn.grey_btn
      | Комментарии

  ul.card_cnt
    li.cnt.active
      = render "/admin/subtasks/templates/link_manager_settings", f: f
    li.cnt
      = render "/admin/subtasks/templates/content_settings", f: f
    li.cnt
      = render "/admin/subtasks/templates/keywords"
    li.cnt
      = render "/admin/subtasks/templates/comments", items: @item.task.comments
