.sub_block
  .label
    = t("modules.#{@object[:name]}.all_records")
    - if !@object[:paths][:new_path].nil?
      = link_to t("labels.buttons.create"), @object[:paths][:new_path], class: "btn blue_btn"
  /= render_filter(@path, nil)
  - if (current_system_user.system_user_role.alias == "content_manager")
    - @items = @items.where(:content_manager_id => current_system_user.id, :subtask_stage_id => SubtaskStage.content_manager_work_stage.id)
  - if (current_system_user.system_user_role.alias == "link_manager")
    - @items = @items.where(:link_manager_id => current_system_user.id, :subtask_stage_id => SubtaskStage.link_manager_work_stage.id)
  - if @items.count != 0
    = render_table(@fields, @items)
    = will_paginate @items
  - else
    .message
      = t("custom.labels.non_records")