/- instruction = Instruction.find_by(:system_user_role_id => current_system_user.system_user_role.id)
.sub_block.instructions
  .label
    | Инструкции
  - if !@instructions.nil?
      .text
        | Для эффективной работы с системой пожалуйста ознакомьтесь с инструкциями:
        - @instructions.each do |instruction|
          a class="instruction_link" href="/instruction_view/#{instruction.id}"
            = instruction.name
  - else
    .message
      | Инструкции для вашей роли отсутствует
