.sub_block
  .label
    | Последние новости
  - news = NewsItem.all.last(3)
  - if news.count != 0
    ul.news_list
      - news.each do |news_item|
        li
          .date
            = news_item.date.strftime("%d.%m.%Y")
          .title
            = news_item.name
          a.about href="news/#{news_item.id}"
            | подробнее
  - else
    .message
      | Новостей нет