.sub_block
  .label
    | Последние задачи
    a class="btn blue_btn" href="/tasks"
      | Посмотреть все
  table.table
    thead
      tr
        th
          a href="#"
            | Название
        th
          a href="#"
            | Проект
        th
          a href="#"
            | Этап
        th
    tbody
      - Task.all.limit(10).each do |task|
        td
          = task.name
        td
          = Task.get_task_project_name(task)
        td
          = Task.get_task_stage_name(task)
        td
          a class="btn blue_btn" href="/tasks/#{task.id}/edit"
            | Редактировать