= render_filter_text_field(:name, :text, t("form.labels.name"))
= render_filter_collection_field(:key_word_rubric_id, @fields[:key_word_rubric_id])
= render_filter_text_field(:exact_entry, :text, t("form.labels.exact_entry"))