= form_for @item do |f|

  = f.submit t('labels.buttons.save'), class: "btn blue_btn top_save"

  = render_form(f, @fields).html_safe

  .section_label
    | Ключевые слова

  #add_key_word
    .section
      .field.text_field
        .small_label_2
          | Название *
        = text_field_tag "choose_key_word_name"
        .custom_error
      .field.text_field
        .small_label_2
          | Кол-во вхождений *
        = text_field_tag "choose_key_word_entry_count"
        .custom_error
      .field.collection_field
        .small_label_2
          | Состояние *
        = select_tag 'choose_key_word_state', options_for_select(KeyWordState.all.collect{ |u| [u.name, u.id] })
        .custom_error
      .btn.blue_btn#add_key_words_to_group
        | Создать ключевое слово

  #keywords
    table.table
      thead
        tr
          th
            a href="#"
              | Название
          th
            a href="#"
              | Количество вхождений
          th
            a href="#"
              | Состояние
          th
      tbody
        - key_words = @item.key_words
        - key_words.each do |key_word|
          tr.key_word
            td
              input#key_word_id type="hidden" name="key_words[#{key_word.id}][id]" value="#{key_word.id}"
              input#key_word_name type="text" name="key_words[#{key_word.id}][name]" value="#{key_word.name}"
            td
              input#key_word_entry type="text" name="key_words[#{key_word.id}][entry_count]" value="#{key_word.entry_count}"
            td
              = select_tag "key_words[#{key_word.id}][state_id]", options_for_select(KeyWordState.all.collect{ |u| [u.name, u.id] }, :selected=>key_word.key_word_state.id)
            td
              .btn.red_btn.remove_key_word
                | Убрать
    - if key_words.count == 0
      .message
        | Ключевые слова не добавлены