/*
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

@import "visual_interfaces_d/blue_interface/core";

header {
  ul {
    right: 30px !important;
    li {
      margin-left: 15px;
    }
  }
}

.table {
  thead {
    tr {
      border: 1px solid white !important;
      th {
        background: rgb(219, 219, 219);
        border: 1px solid white !important;
      }
    }
  }
}

.sub_block {
  .message {
    text-align: center;
    font-size: 14px;
    margin: 15px 0 0 0;
  }
}

#choose_key_word_groups, #choose_articles {
  width: 90%;
}

#add_key_words, #add_subtask_articles {
  width: 8%;
  float: right;
  padding: 8px 7px 8px 7px;
}

.first_menu_item {
  .icon {
    display: none;
  }
  .icon-arrow-down {
    display: block !important;
  }
  .icon-arrow-up {
    display: block !important;
  }
}

#task_key_groups_ids {
  .table {
    margin-bottom: 15px;
  }
}

.card_menu {
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none;
  li {
    float:left;
    width: 17%;
  }
  @extend %clearfix;
}

.card_cnt {
  margin: 0;
  padding: 0;
  list-style: none;
  li.cnt {
    display: none;
    &.active {
      display: block;
    }
  }
}

.table_list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.small_blocks {
  .small_block {
    width: 200px;
    float: left;
    margin: 0 30px 30px 0;
    background: white;
    @include box_shadow(2px, 2px, 2px, 0, $shadow_color_1);
    border-bottom: 1px solid #e9e9e9;
    .value {
      width: 100%;
      padding-top: 10px;
      font-size: 42px;
      text-align: center;
    }
    .description {
      padding: 5px 10px 15px 10px;
      width: 100%;
      box-sizing: border-box;
      font-size: 12px;
      text-align: center;
    }
    .btn {
      width: 100%;
      display: block;
      box-sizing: border-box;
    }
  }
  @extend %clearfix;
}

.blue_interface .frame aside {
  width: 250px !important;
}

.blue_interface .frame .content {
  padding-left: 250px !important;
}

.frame {
  ul {
    right: 30px;
  }
}

.middle_blocks {
  margin: 15px 0 15px 0;
  .sub_block {
    width: 49%;
    float: left;
    &:last-child {
      float: right;
    }
  }
  @extend %clearfix;
}

.sub_block {
  .date {
    float: right;
    font-size: 12px;
  }
}

.news_list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 10px 0 10px 0;
    padding: 5px;
    border-bottom: 1px solid #dadada;
    .date {
      font-size: 12px;
    }
    .name {
      margin: 10px 0 5px 0;
      font-size: 14px;
    }
    .about {
      float: right;
      font-size: 12px;
    }
    &:last-child {
      border-bottom: 0;
    }
    @extend %clearfix;
  }
}

.instructions {
  .text {
    padding: 20px;
    text-align: center;
    font-size: 24px;
  }
  .instruction_btn {
    display: block;
  }
}

#add_comment_form, #add_subtask_comment_form {
  .label {
    font-size: 12px;
  }
  .inputs {
    width: 100%;
    padding-right: 90px;
    box-sizing: border-box;
    position: relative;
    textarea {
      width: 100%;
      height: 80px;
      font-size: 14px;
      max-width: 100%;
    }
    .btn {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.task_comments, .subtask_comments {
  margin: 10px 0 10px 0;
  padding: 0;
  list-style: none;
  .comment {
    width: 100%;
    margin: 5px 0 5px 0;
    position: relative;
    .img {
      position: absolute;
      left: 0;
      top: 0;
      width: 90px;
      img {
        width: 100%;
        height: auto;
      }
      .name {
        font-size: 12px;
        text-align: center;
        padding: 5px;
      }
    }
    .texts {
      width: 100%;
      padding-left: 100px;
      box-sizing: border-box;
      min-height: 100px;
      .comment_date {
        font-size: 12px;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        border-bottom: 1px solid #e9e9e9;
      }
      .comment_text {
        font-size: 14px;
        width: 100%;
        padding: 5px;
      }
    }
  }
}

#keywords {
  margin-bottom: 15px;
}

#add_key_word, #add_purchase_links {
  .section {
    width: 100%;
    padding-right: 120px;
    box-sizing: border-box;
    position: relative;
    .btn {
      position: absolute;
      top: 20px;
      right: 0;
    }
    .field {
      float: left;
      width: 33%;
      .small_label_2 {
        font-size: 12px;
        padding-bottom: 5px;
      }
    }
    @extend %clearfix;
  }
}

#subtasks {
  .table {
    margin-bottom: 15px;
  }
}

.section_with_table {
  margin-bottom: 15px;
}

.top_save {
  margin-bottom: 15px;
}

.help_container {
  margin-bottom: 10px;
  .help_btn {
    border: 1px solid #d1d1d1;
    background-color: #e8e8e8;
    padding: 5px;
    font-size: 12px;
    cursor: hand;
  }
  .box {
    font-size: 12px;
    padding: 5px;
    background-color: #fefefe;
    border: 1px solid #d1d1d1;
    display: none;
  }
}

input.disabled {
  background: #f7f7f7 !important;
}

.error_box {
  padding: 5px;
  border: 1px solid #ff6c60;
  background: #ff8473;
  font-size: 12px;
  color: white;
  margin-bottom: 5px;
}

.text_field {
  .container {
    margin-bottom: 10px;
    @extend %clearfix;
  }
}

.custom_textarea {
  textarea {
    height: 100px !important;
  }
}

#add_purchase_link_to_article {
  top: 55px !important;
}

.text_field {
  .container {
    margin-bottom: 10px;
    @extend %clearfix;
  }
}

.custom_textarea {
  textarea {
    height: 100px !important;
  }
}

#add_purchase_link_to_article {
  top: 55px !important;
}

.custom_error {
  float: left;
}

.instruction_link {
  display: block;
  margin: 5px 0 0 0;
}