.section_label
  | Комментарии

#add_comment_form class=(@item.id.nil? ? "comment_off" : "")
  .label
    | Добавить комментарий
  .inputs
    = text_area_tag "new_comment_text"
    .blue_btn.btn#add_comment_btn
      | Добавить

- if items.count != 0
  ul.task_comments
    - items.order(:created_at => :desc).each do |comment|
      - user = SystemMainItemsD::SystemUser.find(comment.system_user_id)
      li.comment
        .img
          = image_tag user.avatar.url(:thumb)
          .name
            = "#{user.first_name} #{user.last_name}"
        .texts
          .comment_date
            = comment.created_at.strftime("%d.%m.%Y %H:%M:%S")
          .comment_text
            = comment.text
- else
  ul.task_comments
  .message
    | Нет комментарий