.section_label
  | Подзадачи
#subtasks
  table.table
    thead
      tr
        th
          a href="#"
            | Название
        th
          a href="#"
            | Этап
        th
          a href="#"
            | Исполнитель
    - if subtasks.count != 0
      tbody
        - subtasks.each do |subtask|
          tr
            td
              = link_to subtask.name, "/subtasks/#{subtask.id}/edit", :target => "_blank"
            td
              = subtask.subtask_stage.name
            td
              - if subtask.subtask_stage.alias == SubtaskStage.CONTENT_MANAGER_WORK_STAGE_ALIAS
                - user = SystemMainItemsD::SystemUser.find(subtask.content_manager_id)
                = "#{user.first_name} #{user.last_name}"
              - else
                - if subtask.subtask_stage.alias == SubtaskStage.LINK_MANAGER_WORK_STAGE_ALIAS
                  - user = SystemMainItemsD::SystemUser.find(subtask.link_manager_id)
                  = "#{user.first_name} #{user.last_name}"
                - else
                  | - На аукционе -

  - if subtasks.count == 0
    .message
      | Нет записей
