.section_label
  | Ключевые слова
.section.add_key_word_group.field.collection_field
  = select_tag 'choose_key_word_groups', options_for_select(KeyWordGroup.where(:task_id => nil, :key_manager_id => current_system_user.id).collect{ |u| [u.name, u.id] })
  .btn.blue_btn#add_key_words
    | Добавить в список

#task_key_groups_ids
  table.table
    thead
      tr
        th
          a href="#"
            | Группа
        th
          a href="#"
            | Ключевые слова
        th
    tbody
      - @item.key_word_groups.each do |key_word_group|
        tr.key_word_group
          td
            input.key_word_group_id type="hidden" name="task[task_key_groups_ids][#{key_word_group.id}]" value="#{key_word_group.id}"
            = link_to key_word_group.name, key_word_group
          td.key_words
            ul.table_list
              - key_word_group.key_words.each do |key_word|
                li
                  = link_to key_word.name, key_word
          td
            .btn.red_btn#remove_key_word
              | Убрать из списка

  - if @item.key_word_groups.count == 0
    .message
      | Нет записей
  - else
    .message style="display: none;"
      | Нет записей