- new_fields = {}
- @object[:fields].each do |field|
  - if field[1][:available_key_manager] == true
    - new_fields = new_fields.merge(Hash[*field])

= render_form(f, new_fields).html_safe

= render "/admin/tasks/templates/keywords"