.section_label
  | Основные настройки
.help_container
  .help_btn
    | Подсказки по состоянию задачи
  .box
    = t('form.messages.state_help_box').html_safe

.help_container
  .help_btn
    | Подсказки по этапу задачи
  .box
    = t('form.messages.stage_help_box').html_safe

= render_form(f, @fields).html_safe