html
  head
    title
      = t("custom.labels.title")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body.blue_interface
    .frame
      header
        .label
          = t("custom.labels.title")
        ul
          - if current_system_user.system_user_role.alias == "root"
            li
              = link_to "Права доступа", "/access_rights"
            li
              = link_to "Лог событий", "/actions_log_records"
          li
            = generate_sign_out_link(current_system_user, system_users_authorize_d.sign_out_path)

      aside
        .user
          .image
            = image_tag current_system_user.avatar.url(:thumb)
          .text
            .login
              = current_system_user.login
            .state
              = current_system_user.system_user_role.name

        nav
          = render_menu(@menu_items)
      .content
        .header
          .label
            = (!@module_item.nil?) ? @module_item.name : ""
          - if !@object.nil?
            - if !@object[:breadcrumbs].nil?
              ul.breadcrumbs
                - @object[:breadcrumbs].each do |key, value|
                  - if !value.nil?
                    li
                      = link_to value
                        = key
                  - else
                    li
                      = key

        .block
          = yield
